doctype html
html
    head
        meta(charset='utf-8')
        title= feed.data.title1[0].text
        meta(name='description' content=feed.data.description[0].text)
        meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

        meta(property='og:title' content=feed.data.title1[0].text)
        meta(property='og:image' content=feed.data.image.Facebook.url)
        meta(property='og:url' content=feed.data.url.url)
        meta(property='og:site-name' content=feed.data.title1[0].text)

        meta(name='twitter:card' content='summary_large_image')
        meta(name='twitter:site' content=feed.data.twitter)
        meta(name='twitter:creator' content=feed.data.twitter)
        meta(name='twitter:title' content=feed.data.title1[0].text)
        meta(name='twitter:description' content=feed.data.description[0].text)
        meta(name='twitter:image:src' content=feed.data.image.Twitter.url)

        link(rel='stylesheet' href='/static/app.bundle.css')
        link(rel='shortcut icon' href='/static/media/favicon.ico')

    body
      navigation#title
        div.grid
          div.grid__row
            div.grid__row__column.grid__row__column--xs-8
              h1 Sylvain Reucherand
              div Developer
              div
                a(href="mailto:hello@sylvainreucherand.fr") Say hi!

      section#recent
        .grid
          each post in resolveLinks(feed.data.posts, posts, 'post')
            if post.type === 'news'
              div.grid__row.content__date
                div.grid__row__column.grid__row__column--xs-2.grid__row__column--sm-2.grid__row__column--sm-offset-2
                  div= post.data.date

              div.grid__row.content__main
                div.grid__row__column.grid__row__column--xs-8
                  h2!= richText(post.data.title)

            if post.type === 'project'
              div.grid__row.content__main
                div.grid__row__column.grid__row__column--xs-8.grid__row__column.grid__row__column--sm-4.grid__row__column.grid__row__column--sm-offset-2.content__main__introduction
                  h2!= richText(post.data.title)

                  each paragraph in post.data.description
                    p!= richText(paragraph)

                each slice, index in post.data.body
                  div.grid__row__column.grid__row__column--xs-4.grid__row__column--sm-2.content__main__metadata(class=(index % 3 === 0 ? 'grid__row__column--sm-offset-2' : false))
                    div.content__main__metadata__title= slice.primary.title1[0].text

                    if slice.slice_type === 'date'
                      div= slice.primary.date

                    if slice.slice_type === 'links'
                      each item in slice.items
                        p
                          a(href=item.link.url target=item.link.target rel=(item.link.target === '_blank' ? "noopener" : false))= item.title1[0].text

                    if slice.slice_type === 'text'
                      each item in slice.items
                        p= item.text[0].text

                if false
                  div.grid__row__column.grid__row__column--xs-8.content__main__gallery
                    div.grid__row(data-interactive="gallery")
                      script.
                        !{JSON.stringify(entry.gallery)}

    script(src='/static/app.bundle.js')

    script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-37300118-4')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-37300118-4');
